#peck {
	font: 12px "Helvetica", sans-serif;
	width: 620px;
	margin: 0 auto;
}

/* Infobar is split into chicken-info and farm-info */
#chicken-info {
	float: left;
	width: 428px;
	height: 160px;
	padding: 5px;
	border: 1px solid;
	overflow: auto;
}

#farm-info {
	float: right;
	width: 168px;
	height: 160px;
	padding: 5px;
	border: 1px solid;
}

/* chicken-info is split into names, actions, status */
#chicken-names {
	float: left;
	width: 100px;
}

#chicken-actions {
	float: left;
	width: 100px;
}

#chicken-satiation {
	float: right;
	width: 100px;
}

#chicken-happiness {
  float: right;
  width: 128px;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.bar {
	width: 60px;
	height: 12px;
}
